<esn-forms>
  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <div class="form-content">
      <!-- <mat-radio-group name="opciones" aria-label="Select an option" [(ngModel)]="selectedRole"
          [ngModelOptions]="{standalone: true}">
          <p>🕹️</p>
          <mat-radio-button [value]="Player" name="role">Player
          </mat-radio-button>
          <p>🛡️</p>
          <mat-radio-button [value]="Team" name="role">Team
          </mat-radio-button>
        </mat-radio-group> -->

      <esn-form-control [control]="registerForm.get('role')">
        <mat-radio-group formControlName="role">
          <mat-radio-button *ngFor="let role of roleTypes" [value]="role" style="margin: 10px">
            {{role}}
          </mat-radio-button>
        </mat-radio-group>
      </esn-form-control>

      <esn-form-control [control]="registerForm.get('email')">
        <mat-form-field [floatLabel]="registerForm.value.floatLabel">
          <mat-label>Email</mat-label>
          <input matInput placeholder="We hate spam too" required type="email" formControlName="email" />
        </mat-form-field>
      </esn-form-control>

      <esn-form-control [control]="registerForm.get('password')">
        <mat-form-field [floatLabel]="registerForm.value.floatLabel">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Shhh, it's a secret" required type="password" formControlName="password" />
        </mat-form-field>
      </esn-form-control>

      <esn-form-control [control]="registerForm.get('password')">
        <mat-form-field [floatLabel]="registerForm.value.floatLabel">
          <mat-label>Repeat Password</mat-label>
          <input matInput placeholder="Are you sure?" required type="password" formControlName="confirmPassword" />
        </mat-form-field>
      </esn-form-control>

      <button mat-stroked-button type="submit"> Register </button>
    </div>
  </form>
</esn-forms>