@import 'colors.scss';

.content{
  padding: 2rem;
    
  .welcome{
    margin-bottom: 1rem;
    span{
      color: $blue;
    }
  }
  esn-search{
    margin: 1rem 0;
  }
}
.jobs{ 
  display:block;
}

.job-list{
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
}