<esn-forms>
  <esn-error></esn-error>
  <div class="form-content">
    <form [formGroup]="jobForm" (ngSubmit)="send()">

      <esn-form-control [control]="jobForm.get('title')">
        <mat-form-field>
          <input matInput placeholder="Title" required type="text" formControlName="title" />
        </mat-form-field>
      </esn-form-control>

      <esn-form-control [control]="jobForm.get('description')">
        <mat-form-field>
          <textarea placeholder="Description" rows="6" matInput type="text" formControlName="description"
            snNullDefault></textarea>
        </mat-form-field>
      </esn-form-control>

      <ng-container *ngIf="showMsg">
        <p class="confirm-message"> Created! You can see it in your <a routerLink="/profile">profile</a>
        </p>
      </ng-container>
      <esn-chips-input></esn-chips-input>
      <button mat-stroked-button type="submit"> Publish job </button>

    </form>
  </div>
</esn-forms>