@import 'colors.scss';


  .search-box {
    display: flex;
    height: 30px;
    border-bottom: 2px solid $orange;
    input {
      padding: 0 0 5px 1rem;
      outline: none;
      flex: 1;
      font-size: 1.2rem;
      color: $primary;
      background: transparent;
      &::placeholder {
        opacity: 0.5;
        color: $grey;
      }
    }
    fa-icon {
      font-size: 1.2rem;
      color: $primary;
    }
  }