@import 'colors.scss';

div.background-img:before{
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image:url(https://eu.lolesports.com/darkroom/1266/d1a745dfa181420f4f70ac624407fbfd:7ed0efa8ee88b07357b57f22048e6537);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.about{
  position: relative;
  z-index: 1;
  color:white;
}

h6{
  font-weight: 300;
}


.project{
  display: flex;
  justify-items: center;
  img{
    width:120px;
    align-self: center;
  }
  p{
    max-width: 250px;
    padding: 1rem;
    align-self: flex-start;
  }
}

section{
  padding: 2rem 3rem ;
  //margin:0 5rem 0 5rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to left, 
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.5),
    ) 0 1 100%;
  
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;

    li{
      display: inline-flex;
      padding: 1rem;
    }
  }

  a{
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: $white;
    vertical-align: bottom;
    transition: color .3s ease-out;
  }

  a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, $blue 0%, $primary 100%);
    transition: transform .25s ease-out;
  }

  a:hover { 
    color: #fff; 
  }
  a:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
  }

  .subtitle2{
    margin-bottom: 0.5rem;
  }
}  


section:last-child{
  border-bottom: 0;
}

