<div class="background-img">
  <div class="about">
    <section>
      <h1>Hi!</h1>
      <h2>My name is</h2>
      <h1 class="bolder">Andrea</h1>
    </section>

    <section>
      <h2>I'm a 25 years old</h2>
      <h2 class="bolder">software developer</h2>
      <h6>& digital marketing specialist</h6>
      <h6>& industrial designer engineer</h6>
      <h6>& graphic designer</h6>
    </section>

    <section class="project">
      <a routerLink="/home"><img src="../../../../assets/good-job-isotipo-negativo.png" /></a>
      <p> Good Job is my personal project for Hackabos' full
        stack bootcamp </p>
    </section>

    <section>
      <p class="subtitle2">You can follow my work in:</p>
      <ul>
        <li *ngFor=" let network of networks">
          <button>
            <a href={{network.link}} target="_blank"> {{network.name}}
            </a>
          </button>
        </li>
      </ul>
    </section>
  </div>
</div>