<div class="form-area">
  <h6>{{title}}</h6>

  <div class="form" *ngIf="isLoginFormVisible">
    <esn-login></esn-login>
    <caption [class.selected]="isLoginFormVisible"> Have an account?
      <a esnPreventDefault href="" (click)="toggleForm(false)"> {{redirect}}
      </a>
    </caption>
  </div>
  <div class="form" *ngIf="!isLoginFormVisible">
    <esn-register></esn-register>
    <caption [class.selected]="isLoginFormVisible"> Don't have an account?
      <a esnPreventDefault href="" (click)="toggleForm(true)"> {{redirect}}
      </a>
    </caption>
  </div>
</div>