@import 'colors.scss';

input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
  background-size: contain;
  width: 100px;
  height: 100px;

  display: block;
  margin: auto;
  border-radius: 50%; 
  border:0.08rem solid $blue;
  box-shadow: 0px 0px 5px black;
  fa-icon {
    font-size: 3rem;
    color: $white;
    position: absolute;
    top: 20px;
    left: 27px;
  }
  &:hover {
    opacity: 0.7;
  }
}