/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
h1, h2, h3, h4, h5,h6, body, button, caption, 
.subtitle1, .subtitle2, .body2, .overline { 
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
}

// /* Change Autocomplete styles in Chrome*/
// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: 1px solid transparent;
//   -webkit-text-fill-color: #ffffff;
//   -webkit-box-shadow: 0 0 0px 1000px #250047 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }

h1 {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: -0.015rem;
}

h2{
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.008rem;
}


h3{
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0rem;
}

h4{
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.007rem;
}

h5{
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

h6{
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.0007rem;
}

.subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.0125rem;
}

.subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.007rem;
}

body {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.009rem;
}

.body2 {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.0178rem;
}

button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.089rem;
  text-transform: uppercase;
}

caption {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.033rem;
}

.overline {
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.bolder{
  font-weight: 500;
  letter-spacing: 0.15rem;
}