<div class="wrapper">

  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="../../../../assets/fav-02.png" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">{{job.title}}</div>
      <div class="profile-card__txt">{{job.description}}</div>
      <div class="profile-card-loc"></div>
      <!-- 
      <div class="profile-card-social">

        <a href="https://twitter.com/iaMuhammedErdem" class="profile-card-social__item twitter" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </span>
        </a>

        <a href="https://www.instagram.com/iamuhammederdem" class="profile-card-social__item instagram" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </span>
        </a>

        <a href="http://muhammederdem.com.tr/" class="profile-card-social__item link" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-link"></use>
            </svg>
          </span>
        </a>

      </div> -->


      <div class="profile-card-ctr">
        <button class="profile-card__button button--orange">Apply</button>
      </div>
    </div>

  </div>
</div>