<esn-card>
  <h5>{{player.profileInfo.fullName}}</h5>

  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg"
        alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">Muhammed Erdem</div>
      <div class="profile-card__txt">Front-end Developer from <strong>Mesopotamia</strong></div>
      <div class="profile-card-loc"></div>

      <div class="profile-card-social">

        <a href="https://twitter.com/iaMuhammedErdem" class="profile-card-social__item twitter" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </span>
        </a>

        <a href="https://www.instagram.com/iamuhammederdem" class="profile-card-social__item instagram" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </span>
        </a>

        <a href="http://muhammederdem.com.tr/" class="profile-card-social__item link" target="_blank">
          <span class="icon-font">
            <svg class="icon">
              <use xlink:href="#icon-link"></use>
            </svg>
          </span>
        </a>

      </div>

      <div class="profile-card-ctr">
        <button class="profile-card__button button--orange">Follow</button>
      </div>
    </div>
  </div>
</esn-card>