@import 'colors.scss';

  

  .form-area {
  width: 80%;
  margin: 2rem auto 5rem;
  transform: translateY(50px); 
  max-width: 800px;

  .form-header{
    background-color: $primary;
    height: 100px;
    align-content: center;

    .avatar{
      height: 100px;
      min-width: 50px;
      transform: translateY(-50px)
    }
  
    h6{
      text-align: center;
      color: $white;
      transform: translateY(-40px)
    }
 
  }
  
  ::ng-deep{
    .form-content{
      width: 100%;
      margin: 0 auto;
      border: 2px solid $orange;
      border-top: 0px;
      padding: 2rem;

      button {
        width: 100%;
        background-color: $orange;
        color:  $white;
        margin-top:1rem;
        padding: 1rem;
      }

      mat-form-field {
        font-weight: regular;
        color: $primary;
        width: 100%;
      }
      .error-message{
        font-weight: regular;
        color: $error;
      }

      .confirm-message{
        color: $orange;
        font-weight: regular;
        padding: 1rem 0;
        text-align: center;
      }
    }  
  }

}

