.background-img:before{
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image:url(https://eu.lolesports.com/darkroom/1266/d1a745dfa181420f4f70ac624407fbfd:7ed0efa8ee88b07357b57f22048e6537);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // -webkit-filter: blur(3px);
  // -moz-filter: blur(3px);
  // filter: blur(2px);
}

.form-column{
  position: absolute;
  z-index: 1;
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 0 auto 0 auto;
  width: 100% ;

  .logo {
    width: auto;
    height: 80px;
  }
}