<div class="profile" *ngIf="(player$ | async) as player">

  <div class="me">
    <div>
      <div class="nick-animation">
        <esn-nickanimation [nick]="player.profileInfo.nickName"> </esn-nickanimation>

      </div>
      <div class="avatar">
        <esn-avatar [user]="player" width="200px" height="200px"></esn-avatar>
      </div>
    </div>
  </div>

  <div class="name">
    <p class="overline">Name</p>
    <h6>{{player.profileInfo.fullName}}</h6>
    <p class="overline">Nickname</p>
    <h6>{{player.profileInfo.nickName}}</h6>
    <!-- <p class="overline">Team</p>
    <h6>{{player.team}}</h6> -->
  </div>

  <div class="social">
    <p class="overline">Follow:</p>
    <esn-social [social]="player.profileInfo.social"></esn-social>
  </div>

  <div class="description">
    <p class="overline">Description</p>
    <p>{{player.profileInfo.description}} </p>
  </div>

  <div class="tags">
    <p class="overline">Skills</p>
    <div class="tag-list">
      <ng-container *ngFor="let item of player.tags">
        <esn-tags [tag]="item"></esn-tags>
      </ng-container>
    </div>
  </div>

  <div class="background">
    <p class="overline">background</p>
    <div>{{player.background.education}}</div>
    <div>{{player.background.experience}}</div>
  </div>

</div>