@import 'colors.scss';

header, footer {
  background-color: $primary;
  color: $white;
  display: grid;
  // grid-template: 80% 20%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
  padding: 0.25rem;
 // max-height: 80px;

  .mat-icon-button{
  align-self: center;
  }

  .logo {
    grid-column: auto;
    justify-self: center;
    align-self: center;
    max-height: 60px;
    //min-height: 50px;
  }

  .header-avatar {
    width: 20%;
    max-width: 60px;
    min-width: 50px;
    justify-self: flex-end;
    margin: 0.2rem;
    margin-right: 0.75rem;
  }
}

.me{
  padding: 1rem;
  text-align: center;
  ::ng-deep{
    img{
      width: 80%;
    }
  }
}

.nav-list{
  padding: 1rem;
  width: 200px;
  color: $white;
  background: linear-gradient(180deg, $pdark, $primary, $plight );
  mat-divider{
    border-top-color: $blue;
    margin: 0.5rem;
  }

  .mat-nav-list .mat-list-item{
    color: $white;
  }

  h6 {
    margin-bottom: 0.5rem;
  }
}

header {
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 2px solid $plight;
  box-shadow: 0px 2px 2px #000000a1;
}

footer{
  width: 100%;
  padding:1rem;
  align-self: center;
  ul{
    li{
      display: inline-block;
      justify-content: right;
      fa-icon{
        margin: 0 0.5rem;
        font-size: 1rem;
      }
    }
  }
  a{
    color: white;
    opacity: 0.5;
    text-decoration: none;
    justify-self: flex-end;
  }
  :hover{
   opacity: 1;
  }
}


//----------------------------------------------------------------------------------------------------------------------------
// Borrame: esto es de material. Mejor no tocar

.example-sidenav-container{
  z-index: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

//----------------------------------------------------------------------------------------------------------------------



