<div class="profile" *ngIf="(team$ | async) as team">

  <section class="basicInfo">
    <div>
      <div class="nick-animation">
        <esn-nickanimation [nick]="team.profileInfo.nickName"> </esn-nickanimation>
      </div>
      <div class="avatar">
        <esn-avatar [user]="team" width="200px" height="200px"></esn-avatar>
      </div>
    </div>
  </section>

  <div class="name">
    <!-- <p class="overline">Name</p> -->
    <h6>{{team.profileInfo.fullName}}</h6>
    <h6>{{team.profileInfo.nickName}}</h6>
  </div>

  <div class="social">
    <p class="overline">Follow:</p>
    <esn-social [social]="team.profileInfo.social"></esn-social>
  </div>

  <div class="description">
    <p class="overline">Description</p>
    <p>{{team.profileInfo.description}} </p>
  </div>

  <section class="extendedInfo">
    <section class="tags">
      <h4> GOT SKILLS WE’RE LOOKING FOR?</h4>
      <div class="tag-list">
        <ng-container *ngFor="let item of team.tags">
          <esn-tags [tag]="item"></esn-tags>
        </ng-container>
      </div>
    </section>

    <section class="jobs">
      <h4> WE ARE LOOKING FOR:</h4>
      <div class="job-list">
        <ng-container *ngFor="let job of team.jobs">
          <esn-job-card [job]="job"></esn-job-card>
        </ng-container>
      </div>
    </section>
  </section>
</div>