@import 'colors.scss';


body {
  overflow: hidden;
}

.animation-container {
  font-weight: 500;
  font-size: 7em;
  opacity: 1;
}

.animation-container svg {
  padding:1rem;
  width: 100%;
  display: block;
  margin: auto;
  text-justify: center;
  position: relative;
}

.animation-container svg .text {
  text-transform: uppercase;
  width: 100%;
  fill: transparent;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 90,310;
  stroke-dashoffset: 0;
  -webkit-animation: text 8s infinite linear;
  animation: text 8s infinite linear;
}

.animation-container svg .text:nth-child(4n + 1) {
  stroke: $white;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.animation-container svg .text:nth-child(4n + 2) {
  stroke: $blue;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.animation-container svg .text:nth-child(4n + 3) {
  stroke: $plight;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.animation-container svg .text:nth-child(4n + 4) {
  stroke: $orange;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

@-webkit-keyframes text {
  100% {
    stroke-dashoffset: -400;
  }
}