<section *ngIf="(jobs$ | async).jobDetail as job">

  <h2> {{job.title}}</h2>
  <p class="overline"> {{job.createdAt}}
    <p> {{job.description}}</p>


    <div class="tags">
      <p class="overline">Tags</p>
      <div class="tag-list">
        <ng-container *ngFor="let item of job.tags">
          <esn-tags [tag]="item"></esn-tags>
        </ng-container>
      </div>
    </div>
    <button class="button--orange" (click)="apply()">Apply</button>
</section>

<section class="jobs">
  <h5>More Jobs</h5>
  <div class="job-list">
    <ng-container *ngFor="let job of (jobs$ | async).newJobs">
      <esn-job-card [job]="job" [type]='hide'></esn-job-card>
    </ng-container>
  </div>
</section>