@import 'colors.scss';

ul{
  li{
    display: inline-block;
    //justify-content: right;
    fa-icon{
      margin: 0 1rem;
      font-size: 2rem;
    }
  }
}
a{
  color: $primary;
  text-decoration: none;
  justify-self: flex-end;
}

a:hover{
  color: $orange;
  opacity: 1;
}